body {
    background-color: black;
}

app-login-register {
    background-color : #000;
}

.mat-form-field {
    width: 100%;
    margin-top : 10px;
}

mat-card-title{
    border-bottom: #888 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

mat-card {
    width: 50%;
    margin: auto;
    margin-top : 100px ;
}