<h1> Welcome To DashBorad</h1>

<button mat-flat-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    New Product
</button>

<table>
    <thead>
        <tr>
            <th class="text-right" width="50px">id</th>
            <th>name</th>
            <th class="text-right" width="100px">price</th>
            <th width="120px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            <td class="text-right">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td class="text-right">{{item.price}}</td>
            <td class="text-center">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                &nbsp;
                <button mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
