mat-card-title{
    border-bottom: #888 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

mat-card {
    width: 50%;
    margin: auto;
    margin-top : 100px ;
}

body {
    background-color: white;
}

table {
    width: 100%;
}

.text-rigth{
    text-align: right;
}

.text-center{
    text-align: center;
}

thead tr th {
    background-color:gray;
    padding:5px;
}

tbody tr td {
    padding: 5px;
    border-bottom: #ccc 1px solid;
}